n8n-workflow/Multi-Model Aggregator.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "dbe725cc-da66-4424-bda3-3ceb1604904f",
      "name": "Webhook Multi Endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2464,
        -112
      ],
      "webhookId": "4cfa60a8-cd01-4910-a00d-fddd77702d73"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "startTime",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "mode",
              "value": "multi",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3abc467d-0dae-421c-80c5-199705578ce7",
      "name": "Config Multi Mode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "prompt",
              "value": "={{ $json.headers.prompt || $json.body.prompt}}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "models",
              "value": "={{ $json.headers.models || $json.body.models }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "inputType",
              "value": "={{ $json.headers.input-type || $json.body.inputType || $json.headers[\"input-type\"] }}",
              "type": "string"
            },
            {
              "id": "4f21c87b-2d98-41e2-9226-93c4411ca6b0",
              "name": "headers[\"input-type\"]",
              "value": "={{ $json.headers[\"input-type\"] }}",
              "type": "string"
            },
            {
              "id": "1a4254db-f74f-468b-aa02-84ba30af587d",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": true
        }
      },
      "id": "45070bb4-1dcc-4dd7-a408-3309474d7061",
      "name": "Extract Multi Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// ---------------\n// NORMALIZE INPUT\n// ---------------\n\nconst headers = $json.headers || {};\nconst body = $json.body || {};\nconst query = $json.query || {};\nconst params = $json.params || {};\n\nlet inputType = headers[\"input-type\"] || body.inputType || null;\nlet models = null;\nlet prompt = null;\nlet filename = null;\nlet mimeType = null;\nlet binaryData = null;\n\n// ------------------------\n// TEXT INPUT (JSON)\n// ------------------------\nif (inputType === \"text\") {\n  models = body.models || JSON.parse(headers[\"models\"] || \"[]\");\n  prompt = body.prompt || headers[\"prompt\"] || \"\";\n}\n\n// ------------------------\n// AUDIO INPUT (RAW BINARY)\n// ------------------------\nelse if (inputType === \"audio\") {\n  models = JSON.parse(headers[\"models\"] || \"[]\");\n  prompt = headers[\"prompt\"] || \"\";\n  filename = headers[\"filename\"] || \"audio.bin\";\n  mimeType = headers[\"content-type\"] || \"application/octet-stream\";\n\n  // n8n loads binary as $binary\n  if ($binary && Object.keys($binary).length) {\n    const key = Object.keys($binary)[0];\n    binaryData = $binary[key];\n  }\n}\n\n// ------------------------\n// IMAGE INPUT (multipart/form-data)\n// ------------------------\nelse if (inputType === \"image\") {\n\n  models = JSON.parse(body.models || \"[]\");\n  prompt = body.prompt || \"\";\n\n  const binKeys = Object.keys($binary || {});\n  if (binKeys.length > 0) {\n    const key = binKeys[0];\n    binaryData = $binary[key];\n    filename = $binary[key].fileName;\n    mimeType = $binary[key].mimeType;\n  }\n}\n\n// ------------------------\n// FINAL UNIFIED FORMAT\n// ------------------------\nreturn [\n  {\n    json: {\n      inputType,\n      models,\n      prompt,\n      filename,\n      mimeType\n    },\n    binary: binaryData ? { file: binaryData } : undefined\n  }\n];\n"
      },
      "id": "c53a0114-85c3-4b03-a263-0dfabfd113dd",
      "name": "Split Models Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        -112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.models }}",
                    "rightValue": "gpt4o",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "1f79d8e0-2cab-46df-98fa-51c8bc256422"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.models }}",
                    "rightValue": "gpt4o-mini",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "18fd0207-014a-4878-b3d3-f7aee48a9b70"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.models }}",
                    "rightValue": "whisper",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "a31607ea-6cbe-4694-bd17-72204742ed16"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "49c40bf2-53c1-43a7-b6f9-dfe68151dc6b",
                    "leftValue": "={{ $json.models }}",
                    "rightValue": "gpt4o-vision",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "8d751e2d-115f-495b-a468-070d6a024079",
      "name": "Route Multi Models",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1568,
        -144
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "f74e27a8-a833-4ec3-9534-f869de6339ea",
      "name": "Call GPT4o Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1136,
        -400
      ],
      "credentials": {
        "openAiApi": {
          "id": "i42Z4hJpKZPWaLu1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e6b9a8e4-dc9b-484c-a7b6-1bc64162f44e",
      "name": "Call GPT4o-mini Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1136,
        -208
      ],
      "credentials": {
        "openAiApi": {
          "id": "i42Z4hJpKZPWaLu1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "={{ $('Webhook Multi Endpoint').item.binary.data }}",
        "options": {}
      },
      "id": "7d53f3b0-39c7-4c48-a1a8-06e56ee8f8d1",
      "name": "Call Whisper Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1072,
        -16
      ],
      "credentials": {
        "openAiApi": {
          "id": "i42Z4hJpKZPWaLu1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "gpt4o",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.message.content }}{{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "bd279fa7-2b4d-4c39-81d0-bf04de0c85f9",
      "name": "Format GPT4o Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "gpt4o-mini",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.message.content }}{{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "3d4e021a-751b-4f4e-9ad6-9d56483466ab",
      "name": "Format GPT4o-mini Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "whisper",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a03e5bfc-3315-4077-9aee-c88e6d3dbca9",
      "name": "Format Whisper Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const responses = $input.all().map(item => item.json);\nreturn [{ json: { responses } }];"
      },
      "id": "98db3d8e-37dc-494a-a93e-787279ea4e7e",
      "name": "Aggregate All Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "af7d4a09-565d-49c9-9a0f-0d57bbc61243",
      "name": "Return Multi Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -288,
        -112
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Describe this image in detail",
        "inputType": "base64",
        "binaryPropertyName": "={{ $('Webhook Multi Endpoint').item.binary.data0.id }}",
        "options": {}
      },
      "id": "faabc4d4-885d-43c2-b954-7a63d50bd3bc",
      "name": "Call GPT4o-vision Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1072,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "i42Z4hJpKZPWaLu1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "gpt4o-vision",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b72a2094-3851-4284-9c67-b0ea13954365",
      "name": "Format GPT4o-vision Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        160
      ]
    }
  ],
  "connections": {
    "Webhook Multi Endpoint": {
      "main": [
        [
          {
            "node": "Config Multi Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Multi Mode": {
      "main": [
        [
          {
            "node": "Extract Multi Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Multi Request": {
      "main": [
        [
          {
            "node": "Split Models Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Models Array": {
      "main": [
        [
          {
            "node": "Route Multi Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Multi Models": {
      "main": [
        [
          {
            "node": "Call GPT4o Multi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call GPT4o-mini Multi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Whisper Multi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call GPT4o-vision Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GPT4o Multi": {
      "main": [
        [
          {
            "node": "Format GPT4o Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GPT4o-mini Multi": {
      "main": [
        [
          {
            "node": "Format GPT4o-mini Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Whisper Multi": {
      "main": [
        [
          {
            "node": "Format Whisper Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format GPT4o Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format GPT4o-mini Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Whisper Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Responses": {
      "main": [
        [
          {
            "node": "Return Multi Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GPT4o-vision Multi": {
      "main": [
        [
          {
            "node": "Format GPT4o-vision Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format GPT4o-vision Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e843fbbb0f0a9fafb0ef6c81e4c4ce5bd6b84cc146bac40a16b645b4f8c5d74"
  }
}
