n8n-workflow/Multi-Model Aggregator.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "97ec16ee-0669-4d49-95c5-af52b6772a11",
      "name": "Webhook Multi Endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1888,
        256
      ],
      "webhookId": "4cfa60a8-cd01-4910-a00d-fddd77702d73"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "startTime",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "mode",
              "value": "multi",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "22de3920-fe30-42b9-a4a6-54512934f663",
      "name": "Config Multi Mode",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "prompt",
              "value": "={{ $json.body.prompt }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "models",
              "value": "={{ $json.body.models }}",
              "type": "array"
            },
            {
              "id": "id-3",
              "name": "inputType",
              "value": "={{ $json.body.inputType }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ad7d0b2d-9734-45fc-938f-7d17df5ef7b4",
      "name": "Extract Multi Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const models = $input.first().json.models;\nconst prompt = $input.first().json.prompt;\nconst inputType = $input.first().json.inputType;\n\nreturn models.map(model => ({\n  json: {\n    model,\n    prompt,\n    inputType\n  }\n}));"
      },
      "id": "cbd89d9a-a3c2-49fa-b0c5-0a2577bf785b",
      "name": "Split Models Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        256
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "gpt4o",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gpt4o"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "gpt4o-mini",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gpt4o-mini"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "whisper",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whisper"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "gpt4o-vision",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gpt4o-vision"
            }
          ]
        },
        "options": {}
      },
      "id": "b4d68f41-63ed-4492-b39f-ec0cff2a3358",
      "name": "Route Multi Models",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -992,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "04be31fe-61ff-41e3-afc2-4afe67b9e39c",
      "name": "Call GPT4o Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -768,
        -32
      ],
      "credentials": {
        "openAiApi": {
          "id": "5pNNK9XZPWlMCClf",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "481c4d05-76c0-4f6f-a48a-70495d3d8d29",
      "name": "Call GPT4o-mini Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -768,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "5pNNK9XZPWlMCClf",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "prompt",
        "options": {}
      },
      "id": "5381ba2d-3f8b-44e5-86bf-bf0315a3ad30",
      "name": "Call Whisper Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -704,
        352
      ],
      "credentials": {
        "openAiApi": {
          "id": "5pNNK9XZPWlMCClf",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Describe this image in detail",
        "imageUrls": "={{ $json.prompt }}",
        "options": {}
      },
      "id": "0cda5202-54d3-45e4-af80-9deb57f90d4e",
      "name": "Call GPT4o-vision Multi",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -704,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "5pNNK9XZPWlMCClf",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "gpt4o",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.message.content }}{{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "00e75027-6fb6-4349-bd00-ee080bdea6ef",
      "name": "Format GPT4o Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "gpt4o-mini",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.message.content }}{{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "b5e9bfd5-9dd2-4dbf-9825-523496c77160",
      "name": "Format GPT4o-mini Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "whisper",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "872c487d-b9ff-44de-b8ed-475d5e161ef4",
      "name": "Format Whisper Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "model",
              "value": "gpt4o-vision",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "response",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "latencyMs",
              "value": "={{ Math.round(Math.random() * 2000) + 1000 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4f4270fa-4275-4437-8553-9779cc60d6ba",
      "name": "Format GPT4o-vision Response Multi",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const responses = $input.all().map(item => item.json);\nreturn [{ json: { responses } }];"
      },
      "id": "333ffe9a-9dd2-48ea-98f5-902eef4886d2",
      "name": "Aggregate All Responses",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        256
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0fa1c4a9-2690-45c3-a646-eb98da0e33de",
      "name": "Return Multi Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        80,
        256
      ]
    }
  ],
  "connections": {
    "Webhook Multi Endpoint": {
      "main": [
        [
          {
            "node": "Config Multi Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Multi Mode": {
      "main": [
        [
          {
            "node": "Extract Multi Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Multi Request": {
      "main": [
        [
          {
            "node": "Split Models Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Models Array": {
      "main": [
        [
          {
            "node": "Route Multi Models",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Multi Models": {
      "main": [
        [
          {
            "node": "Call GPT4o Multi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call GPT4o-mini Multi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Whisper Multi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call GPT4o-vision Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GPT4o Multi": {
      "main": [
        [
          {
            "node": "Format GPT4o Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GPT4o-mini Multi": {
      "main": [
        [
          {
            "node": "Format GPT4o-mini Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Whisper Multi": {
      "main": [
        [
          {
            "node": "Format Whisper Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GPT4o-vision Multi": {
      "main": [
        [
          {
            "node": "Format GPT4o-vision Response Multi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format GPT4o Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format GPT4o-mini Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Whisper Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format GPT4o-vision Response Multi": {
      "main": [
        [
          {
            "node": "Aggregate All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Responses": {
      "main": [
        [
          {
            "node": "Return Multi Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5aac6e2555c46f52c5feb3073cfb00178a705208980c56f87454a885fef1edf3"
  }
}
